[data-theme='light-blue'] {
    --theme-color: #0072bc;
    --theme-color-light: #0072bc22;
    --valid: #00bc64;
    --valid-light: #00bc6422;
    --invalid: #c40f0f;
    --invalid-light: #c40f0f22;
    --background-color: #e6effe;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    background-color: var(--background-color);
    padding-bottom: 20px;
    font-family: 'Comfortaa', cursive;
}

.container {
    margin: 0.9rem 3rem;
}

.options {
    /* width: 50vw; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
    position: fixed;
    right: 10px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    backdrop-filter: blur(20px);
    border:2px solid #fff7;
}

.company{
    backdrop-filter: blur(2px);
    padding-top: 1px;
}

.company-logo{
    /* padding: 20px 0 50px 40px; */
    padding: 20px;
    width: 200px;
    height: auto;
}

/* .company-name {
    font-size: 26px;
    color: #0d1953;
} */

.autoScroll,.autoFetch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.inputLabel{
    font-size: 0.7rem;
}


.ee-button {
    all: unset;
    background-color: var(--theme-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 600;
    font-size: large;
    box-shadow: 15px 15px 25px #2224;
}

.ee-button:active {
    box-shadow: none;
}

.autoScroll input,.autoFetch input{
    display: inline-block;
    width: auto;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#downloadData {
    margin-left: auto;

}

.deviceWrapper {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.deviceWrapper label {
    font-size: 1.8rem;
    padding: 1rem;
    font-family: 'Comfortaa', cursive;
}

.cardWrapper {
    display: flex;
    gap: 1.2rem;
    /* justify-content: center; */
    align-items: center;
}

.card {
    width: 250px;
    height: 170px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: -15px -15px 25px #fffa, 15px 15px 25px #4442;
    color: var(--theme-color);

}

.card[data-threshold='valid'] {
    color: var(--valid);
    border-bottom: 3px solid var(--valid);
}

.card[data-threshold='valid'] .cardHeader {
    background-color: var(--valid-light);
}

.card[data-threshold='invalid'] {
    color: var(--invalid);
    border-bottom: 3px solid var(--invalid);
}

.card[data-threshold='invalid'] .cardHeader {
    background-color: var(--invalid-light);
}

.card .cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-color-light);
    padding: 2px 10px;
    border-radius: 5px;
}

.card .cardHeader p {
    margin: 0;
    font-size: 2rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 600;

}

.card .cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .cardBody p {
    margin: 0;
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;

}

.thresholdCard {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: -15px -15px 25px #fffa, 15px 15px 25px #4442;
    width: 250px;
    height: 300px;
    z-index: 20;
    /* background-color: var(--background-color); */
    backdrop-filter: blur(20px);
    display: none;
    padding: 30px;
    font-family: 'Comfortaa', cursive;
    transition: all 0.9s cubic-bezier(0.215, 0.610, 0.355, 1);
    background: linear-gradient(45deg, transparent 0%, var(--theme-color-light) 100%);
    mix-blend-mode: darken;
    overflow: hidden;
}

.thresholdCard .closeButton {
    all: unset;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(202, 21, 21);
    color: white;
    font-size: 0.6rem;

}

.thresholdCard h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 600;
}

.thresholdButton {
    width: calc(100% - 40px);
    text-align: center;
}

.tCardHeader {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.1rem;
}

.tCardHeader p,
.tCardHeader h2 {
    margin: 0;
}

.tCardHeader p {
    font-size: 0.8rem;
}

.tCardBody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

select,
input {
    width: 100%;
}

.tCardBody .selectBox,
.tCardBody .ee-input,
button {
    display: block;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    padding: 8px 10px;
    border: 2px solid var(--theme-color);
}

.tCardBody .ee-input {
    width: calc(250px - 20px);
}

.lastUpdate {
    margin-left: 1%;
    font-size: 16px;
}